.bg-page {
  background-color: #e5e5e5;
}

.card {
  width: 18rem;
}
.space-card {
  margin-bottom: 1em;
}
.card-about-descript {
  margin-inline: auto;
}
.card-about-people {
  margin-inline: auto;
  padding: 2em;
}
.people {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: solid 1px #e5e7eb;
}
.logo-reseau {
  width: 50px;
  margin: auto;
}

.litle-margin {
  margin: 0.5em;
}
.user-container {
  border-bottom: solid 1px;
  margin: 2em 3em;
}

.no-border {
  border: none;
}
.a-center {
  margin-inline: auto;
}
